---
title: Story behind APPUiO
---
<%= partial "partials/github" %>
<header class="header-container" role="banner">
  <div class="grid-container">
    <%= partial "partials/nav" %>
  </div>
</header>

<main class="main-container" role="main">
  <section id="title-section" class="home-hero">
    <h2 class="offers-title">The story behind APPUiO</h2>
  </section>
</main>

<%= partial "partials/footer" %>
